<a href="https://colab.research.google.com/github/wandieinnocents/SpamSmsDetector_MachineLearning/blob/main/SmsSpamClassifyer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**The SMS Spam Collection**

---

The SMS Spam Collection is a set of SMS tagged messages that have been collected for SMS Spam research. It contains one set of SMS messages in English of 5,572 messages, tagged according being ham (legitimate) or spam.

In [8]:
# import libraries
import pandas as pd
import nltk
from nltk.corpus import stopwords
import string

Reading the dataset

In [9]:
# Import the dataset
from google.colab import files 
uploaded = files.upload()

Saving spam.csv to spam.csv

In [11]:
# Print the dataset
# Read the Dataset
dataFrame = pd.read_csv('spam.csv',encoding='latin-1')
dataFrame.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [12]:
#Drop columns that  will will not be useful in predicting the model
df = dataFrame.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis = 1)
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [13]:
# Rename Columns so they can be easily interpreted
df = df.rename(columns={'v1': 'Class', 'v2': 'Sms'})
df.head(10)

  Class                                                Sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [14]:
# Displaying column names
df.columns

Index(['Class', 'Sms'], dtype='object')

In [15]:
# Shape of the data (Rows and Columns)
df.shape

(5572, 2)

In [16]:
# Description of the dataframe
df.describe

<bound method NDFrame.describe of      Class                                                Sms
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]>


### Check for duplicate Rows and remove them from the data
Datasets that contain duplicates may contaminate training data with the test data or vice versa, entries with missing values will lead models to misunderstand features and outliers will undermine the training process – leading your model to “learn” patterns that do not exist in reality.

In [17]:
# Check Duplicate data in the dataset
count_duplicates = df.duplicated(subset='Sms', keep='first').sum()

In [18]:
# Print Number of Duplicates
print("Duplicates  are : " + str(count_duplicates))

Duplicates  are : 403

In [19]:
# Remove duplicates from the data
df.drop_duplicates(inplace=True)

In [20]:
# Confirm Duplicate data if it was removed the dataset
count_duplicates_second_check = df.duplicated(subset='Sms', keep='first').sum()

In [21]:
# Print Number of Duplicates to make sure they were removed
print(" Duplicates  are now : " + str(count_duplicates_second_check))

 Duplicates  are now : 0

In [22]:
# Show the new shape of the dataset( Rows and columns ) , after removing duplicate rows
df.shape

(5169, 2)